extends layout

block content
    - var tuid = uid;
    if tuid !== undefined
        script var isUidExist = true;t_uid = #{uid};
    else
        script var isUidExist = false;t_uid = '';
    script(src='/javascripts/main.js')
    div.container
        div.row.g-2
            div.input-group#index
                span.input-group-text {{servername}}
                input.form-control(type='text',placeholder='请输入UID', v-model='uid' @input='judgeServer')
                button.btn.btn-success(type='submit' @click='getCharacterData') 提交
    div.container#characterdata
        div#playerInfo
        div#dataSummary
        div#character
        div#worldExploration